{% extends 'base.html.twig' %}

{% block title %}Création projet{% endblock %}

{% block body %}
<h1>Quel est votre projet ?</h1>
<div class="d-flex p-2 m-3 flex-column mx-auto">
  <a class="card mx-auto m-4" style="width: 50rem" href="">
    <img class="card-img-top" src="{{ asset('build/images/home2.png') }}" alt="bathroom image">
    <div class="card-body">
      <p class="card-text text-center">Projet chambre</p>
    </div>
  </a>
  <a class="card mx-auto m-4" style="width: 50rem" href=" {{ path('project_bathroom') }}">
    <img class="card-img-top" src="{{ asset('build/images/home1.png') }}" alt="bathroom image">
    <div class="card-body">
      <p class="card-text text-center">Projet salle de bain</p>
    </div>
  </a>
  <a class="card mx-auto m-4" style="width: 50rem" href="">
    <img class="card-img-top" src="{{ asset('build/images/home3.png') }}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text text-center">Projet jardin</p>
    </div>
  </a>
  <a class="card mx-auto m-4" style="width: 50rem" href="#">
    <img class="card-img-top" src="{{ asset('build/images/home4.png') }}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text text-center">Projet cuisine</p>
    </div>
  </a>
</div>
{% endblock %}